<nav class="bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4  text-white d-flex align-items-center">
        <span class="hambtn"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></span>
        <h1>Header</h1>
      </div>
      <div class="col-4"></div>
      <div class="col-4 bg-primary d-flex flex-row-reverse align-items-center">
        <div class="content justify-content-center">
          <button class="btn btn-danger">Add Recruiter</button>
        </div>
      </div>
    </div>
  </div>
</nav>
